<div class="col-md-12">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="card marginPassword col-md-6">
        <div class="card-body">
          <h5 class="card-title text-center mb-5">Password Recovery</h5>
          <form>
            <div class="form-group">
              <div class="col-auto">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-envelope"></i>
                    </div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email" autofocus required>
                </div>
              </div>
            </div>
            <div class="form-group form-check">
              <a [routerLink]="['/login']">Return to Login</a>
            </div>
            <button type="submit" class="btn btn-primary btnLarge mt-3">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>