<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="d-flex justify-content-center">
          <div class="card margin col-md-9">
            <div class="card-body">
              <h5 class="card-title text-center mb-5">Log In .:. TrackerApp</h5>
              <form>
                <div class="form-group">
                  <div class="col-auto">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fa fa-user"></i>
                        </div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username" autofocus required>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-auto">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fa fa-lock"></i>
                        </div>
                      </div>
                      <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password" required>
                    </div>
                  </div>
                </div>
                <div class="form-group form-check">
                  <a [routerLink]="['/password-recovery']">Password recovery</a>
                </div>
                <button type="submit" class="btn btn-success btnLarge mt-3">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 imgLogin">
    </div>
  </div>
</div>