/* Elements */
.margin{
    margin-top: 20%;
}

.btnLarge{
    width: 100%
}

/* Login */
.imgLogin{
    background: url("./assets/imgLogin.jpg") no-repeat fixed center;
    height: 100vh;
    width: 100%;
}

.marginPassword{
    margin-top: 10%;
}